<% if (products.length > 0) { %> 
  <div class="grid">
    <% for (let product of products) { %>
      <input type="hidden" value="<%= product.id %>">
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"> <%= product.title %> </h1>
        </header>
        <div class="card__image">
          <img src="<%= product.imgUrl %>">
        </div>
        <div class="card__content">
          <h2 class="product__price">$ <%= product.price %></h2>
          <p class="product__description"><%= product.description %></p>
        </div>
        <div class="card__actions">
          <% if (!isAdmin) { %>
            <form action="<%= `/shop/add-to-cart&id=${product.id}` %>" method="POST">
              <button class="btn" type="submit">Add to Cart</button>
            </form>
          <% } else { %>
            <button class="btn"><a href="<%=`/admin/products/edit-item&id=${product.id}` %>">Edit</a></button>
            <form action="<%= `/admin/products/delete&id=${product.id}` %>" method="POST">
              <button class="btn" type="submit">Delete</button>
            </form>
          <% } %> 
        </div>
      </article>
    <% } %> 
  </div>
<% } else { %> 
  <h2>No items found.</h2>
<% } %> 